In [1]:
my_dict = {
    "k1":'jirac',
    'k2':'peter',
    'k3':'son'
}

In [2]:
print(my_dict)

{'k1': 'jirac', 'k2': 'peter', 'k3': 'son'}

In [3]:
my_dict['k4'] = 'Enma'

In [4]:
print(my_dict)

{'k1': 'jirac', 'k2': 'peter', 'k3': 'son', 'k4': 'Enma'}

In [5]:
my_dict.items()

dict_items([('k1', 'jirac'), ('k2', 'peter'), ('k3', 'son'), ('k4', 'Enma')])

In [6]:
my_dict.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [7]:
del my_dict['k1']

In [8]:
my_dict

{'k2': 'peter', 'k3': 'son', 'k4': 'Enma'}

In [65]:
%%writefile my_file.txt
this is a text sample file
this is a first line of this file
this is a second line of the file
this is a third line of the file

Overwriting my_file.txt

In [12]:
my_files = open('my_file.txt')

In [13]:
my_files

In [14]:
pwd

'C:\\Users\\hp\\Downloads\\JavaTpoint'

In [15]:
my_files.read()

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [16]:
my_files.read()

''

In [17]:
my_files.seek(0)

0

In [18]:
my_files.read()

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [20]:
with open('my_file.txt') as my_files_text:
    content = my_files_text.read()

In [21]:
content

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [22]:
with open('Files.txt',mode='w') as f:
    f.write('I"m RoronaZoro')

In [23]:
with open('Files.txt',mode='r') as f:
    print(f.read())

I"m RoronaZoro

In [27]:
d = {'k1':1,'k2':2,'k3':3}
for i,j in d.items():
    print(i)

k1
k2
k3

In [31]:
l = [(1,2,3),(4,5,6),(7,8,9)]

for i,j,k in l:
    print(j,k)

2 3
5 6
8 9

In [32]:
my_list = [1,2,3,4,5]

suq_list = []

for i in my_list:
    suq_list.append(i**2)

In [33]:
suq_list

[1, 4, 9, 16, 25]

In [34]:
suq1_list = [x**2 for x in my_list]

In [35]:
suq1_list

[1, 4, 9, 16, 25]

In [40]:
range_list = [x**2 for x in range(1,11)]

In [41]:
range_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
if_list = [x for x in range(1,11) if x%2==0]

In [43]:
if_list

[2, 4, 6, 8, 10]

In [48]:
if1_list = [x**2 for x in if_list]

In [49]:
if1_list

[4, 16, 36, 64, 100]

In [59]:
if_else_list = [x if x%2==0 else 'ODD NUM'  for x in range(1,11)]

In [60]:
if_else_list

['ODD NUM', 2, 'ODD NUM', 4, 'ODD NUM', 6, 'ODD NUM', 8, 'ODD NUM', 10]

In [61]:
my_list = []

for x in [2,4,6]:
    for y in [10,20,100]:
        my_list.append(x*y)

In [62]:
my_list

[20, 40, 200, 40, 80, 400, 60, 120, 600]

In [63]:
nested_list = [x*y for x in [2,4,6] for y in [10,20,100]]

In [64]:
nested_list

[20, 40, 200, 40, 80, 400, 60, 120, 600]

In [73]:
employee = [('Zoro',8000),('Sanji',1000),('Luffy',4000),('Brook',10000)]

def employees_score(employee):
    employee_name = ''
    employee_time = 0
    for name,time in employee:
        if time > employee_time:
            employee_time = time
            employee_name = name
        else:
            pass
    return (employee_name,employee_time)

In [74]:
employees_score(employee)

('Brook', 10000)