In [1]:
my_dict = {
    "k1":'jirac',
    'k2':'peter',
    'k3':'son'
}

In [2]:
print(my_dict)

{'k1': 'jirac', 'k2': 'peter', 'k3': 'son'}

In [3]:
my_dict['k4'] = 'Enma'

In [4]:
print(my_dict)

{'k1': 'jirac', 'k2': 'peter', 'k3': 'son', 'k4': 'Enma'}

In [5]:
my_dict.items()

dict_items([('k1', 'jirac'), ('k2', 'peter'), ('k3', 'son'), ('k4', 'Enma')])

In [6]:
my_dict.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [7]:
del my_dict['k1']

In [8]:
my_dict

{'k2': 'peter', 'k3': 'son', 'k4': 'Enma'}

In [65]:
%%writefile my_file.txt
this is a text sample file
this is a first line of this file
this is a second line of the file
this is a third line of the file

Overwriting my_file.txt

In [12]:
my_files = open('my_file.txt')

In [13]:
my_files

In [14]:
pwd

'C:\\Users\\hp\\Downloads\\JavaTpoint'

In [15]:
my_files.read()

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [16]:
my_files.read()

''

In [17]:
my_files.seek(0)

0

In [18]:
my_files.read()

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [20]:
with open('my_file.txt') as my_files_text:
    content = my_files_text.read()

In [21]:
content

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [22]:
with open('Files.txt',mode='w') as f:
    f.write('I"m RoronaZoro')

In [23]:
with open('Files.txt',mode='r') as f:
    print(f.read())

I"m RoronaZoro

In [27]:
d = {'k1':1,'k2':2,'k3':3}
for i,j in d.items():
    print(i)

k1
k2
k3

In [31]:
l = [(1,2,3),(4,5,6),(7,8,9)]

for i,j,k in l:
    print(j,k)

2 3
5 6
8 9

In [32]:
my_list = [1,2,3,4,5]

suq_list = []

for i in my_list:
    suq_list.append(i**2)

In [33]:
suq_list

[1, 4, 9, 16, 25]

In [34]:
suq1_list = [x**2 for x in my_list]

In [35]:
suq1_list

[1, 4, 9, 16, 25]

In [40]:
range_list = [x**2 for x in range(1,11)]

In [41]:
range_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
if_list = [x for x in range(1,11) if x%2==0]

In [43]:
if_list

[2, 4, 6, 8, 10]

In [48]:
if1_list = [x**2 for x in if_list]

In [49]:
if1_list

[4, 16, 36, 64, 100]

In [59]:
if_else_list = [x if x%2==0 else 'ODD NUM'  for x in range(1,11)]

In [60]:
if_else_list

['ODD NUM', 2, 'ODD NUM', 4, 'ODD NUM', 6, 'ODD NUM', 8, 'ODD NUM', 10]

# (28/09/2023)

In [61]:
my_list = []

for x in [2,4,6]:
    for y in [10,20,100]:
        my_list.append(x*y)

In [62]:
my_list

[20, 40, 200, 40, 80, 400, 60, 120, 600]

In [63]:
nested_list = [x*y for x in [2,4,6] for y in [10,20,100]]

In [64]:
nested_list

[20, 40, 200, 40, 80, 400, 60, 120, 600]

In [73]:
employee = [('Zoro',8000),('Sanji',1000),('Luffy',4000),('Brook',10000)]

def employees_score(employee):
    employee_name = ''
    employee_time = 0
    for name,time in employee:
        if time > employee_time:
            employee_time = time
            employee_name = name
        else:
            pass
    return (employee_name,employee_time)

In [74]:
employees_score(employee)

('Brook', 10000)

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [2]:
summer_69([1, 3, 5])

9

In [3]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [4]:
summer_69([2, 1, 6, 9, 11])

14

Lambda Function , Map and Filter

In [5]:
def square(num):
    return num**2

In [6]:
square(4)

16

In [7]:
my_list=[1,2,3,4,5]

In [9]:
list(map(square,my_list))

[1, 4, 9, 16, 25]

In [10]:
list(map(lambda num:num**2,my_list))

[1, 4, 9, 16, 25]

In [11]:
def even_num(num):
    if num%2==0:
        return True
    else:
        return False

In [13]:
even_num(9)

False

In [14]:
my_list = [2,3,4,9,8,13]

In [15]:
list(filter(even_num,my_list))

[2, 4, 8]

In [17]:
list(filter(lambda num : num%2==0,my_list))

[2, 4, 8]

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [58]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [59]:
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [62]:
def find_range(num,low,high):
    if num in range(low,high+1):
        print(f'{num} in the range of {low} and {high}')
    else :
        print('Not in the range')

In [66]:
find_range(6,5,7)

6 in the range of 5 and 7

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [93]:
def count_letters(s):
    uppercase = 0
    lowercase = 0
    for char in s:   
        if char.isupper():
            uppercase+=1
        elif char.islower():
            lowercase+=1
        else:
            pass

    print(f"The Original String {s}")
    print(f'The No.of Uppercase are {uppercase}')
    print(f'The No.of Lowercase are {lowercase}')

In [94]:
my_str = 'Hello Mr. Rogers, how are you this fine Tuesday?'
count_letters(my_str)

The Original String Hello Mr. Rogers, how are you this fine Tuesday?
The No.of Uppercase are 4
The No.of Lowercase are 33

In [102]:
def count_let(s):
    d ={'upper':0,'lower':0}
    for char in s:   
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass

    print(f"The Original String {s}")
    print(f'The No.of Uppercase are {d["upper"]}')
    print(f'The No.of Lowercase are {d["lower"]}')

In [103]:
my_str1 = 'Hello Mr. Rogers, how are you this fine Tuesday?'
count_let(my_str)

The Original String Hello Mr. Rogers, how are you this fine Tuesday?
The No.of Uppercase are 4
The No.of Lowercase are 33

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [123]:
def unique_num(num):
    seen_number = []
    
    for i in num:
        if i not in seen_number:
            seen_number.append(i)
    return seen_number

In [124]:
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_num(sample_list)

[1, 2, 3, 4, 5]

Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [127]:
def multi(num):
    total = 1
    for i in num:
        total *= i
    return total

In [130]:
my_list = [1,2,3,-4]

multi(my_list)

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [131]:
def panlindrom(lst):
    s = lst.replace(' ','')
    return s == s[::-1]

In [135]:
panlindrom('nurses run')

True

In [136]:
panlindrom('madam')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)