In [1]:
my_dict = {
    "k1":'jirac',
    'k2':'peter',
    'k3':'son'
}

In [2]:
print(my_dict)

{'k1': 'jirac', 'k2': 'peter', 'k3': 'son'}

In [3]:
my_dict['k4'] = 'Enma'

In [4]:
print(my_dict)

{'k1': 'jirac', 'k2': 'peter', 'k3': 'son', 'k4': 'Enma'}

In [5]:
my_dict.items()

dict_items([('k1', 'jirac'), ('k2', 'peter'), ('k3', 'son'), ('k4', 'Enma')])

In [6]:
my_dict.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [7]:
del my_dict['k1']

In [8]:
my_dict

{'k2': 'peter', 'k3': 'son', 'k4': 'Enma'}

In [65]:
%%writefile my_file.txt
this is a text sample file
this is a first line of this file
this is a second line of the file
this is a third line of the file

Overwriting my_file.txt

In [12]:
my_files = open('my_file.txt')

In [13]:
my_files

In [14]:
pwd

'C:\\Users\\hp\\Downloads\\JavaTpoint'

In [15]:
my_files.read()

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [16]:
my_files.read()

''

In [17]:
my_files.seek(0)

0

In [18]:
my_files.read()

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [20]:
with open('my_file.txt') as my_files_text:
    content = my_files_text.read()

In [21]:
content

'this is a text sample file\nthis is a first line of this file\nthis is a second line of the file\nthis is a third line of the file\n'

In [22]:
with open('Files.txt',mode='w') as f:
    f.write('I"m RoronaZoro')

In [23]:
with open('Files.txt',mode='r') as f:
    print(f.read())

I"m RoronaZoro

In [27]:
d = {'k1':1,'k2':2,'k3':3}
for i,j in d.items():
    print(i)

k1
k2
k3

In [31]:
l = [(1,2,3),(4,5,6),(7,8,9)]

for i,j,k in l:
    print(j,k)

2 3
5 6
8 9

In [32]:
my_list = [1,2,3,4,5]

suq_list = []

for i in my_list:
    suq_list.append(i**2)

In [33]:
suq_list

[1, 4, 9, 16, 25]

In [34]:
suq1_list = [x**2 for x in my_list]

In [35]:
suq1_list

[1, 4, 9, 16, 25]

In [40]:
range_list = [x**2 for x in range(1,11)]

In [41]:
range_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
if_list = [x for x in range(1,11) if x%2==0]

In [43]:
if_list

[2, 4, 6, 8, 10]

In [48]:
if1_list = [x**2 for x in if_list]

In [49]:
if1_list

[4, 16, 36, 64, 100]

In [59]:
if_else_list = [x if x%2==0 else 'ODD NUM'  for x in range(1,11)]

In [60]:
if_else_list

['ODD NUM', 2, 'ODD NUM', 4, 'ODD NUM', 6, 'ODD NUM', 8, 'ODD NUM', 10]

# (28/09/2023)

In [61]:
my_list = []

for x in [2,4,6]:
    for y in [10,20,100]:
        my_list.append(x*y)

In [62]:
my_list

[20, 40, 200, 40, 80, 400, 60, 120, 600]

In [63]:
nested_list = [x*y for x in [2,4,6] for y in [10,20,100]]

In [64]:
nested_list

[20, 40, 200, 40, 80, 400, 60, 120, 600]

In [73]:
employee = [('Zoro',8000),('Sanji',1000),('Luffy',4000),('Brook',10000)]

def employees_score(employee):
    employee_name = ''
    employee_time = 0
    for name,time in employee:
        if time > employee_time:
            employee_time = time
            employee_name = name
        else:
            pass
    return (employee_name,employee_time)

In [74]:
employees_score(employee)

('Brook', 10000)

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [2]:
summer_69([1, 3, 5])

9

In [3]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [4]:
summer_69([2, 1, 6, 9, 11])

14

Lambda Function , Map and Filter

In [5]:
def square(num):
    return num**2

In [6]:
square(4)

16

In [7]:
my_list=[1,2,3,4,5]

In [9]:
list(map(square,my_list))

[1, 4, 9, 16, 25]

In [10]:
list(map(lambda num:num**2,my_list))

[1, 4, 9, 16, 25]

In [11]:
def even_num(num):
    if num%2==0:
        return True
    else:
        return False

In [13]:
even_num(9)

False

In [14]:
my_list = [2,3,4,9,8,13]

In [15]:
list(filter(even_num,my_list))

[2, 4, 8]

In [17]:
list(filter(lambda num : num%2==0,my_list))

[2, 4, 8]

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [58]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [59]:
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [62]:
def find_range(num,low,high):
    if num in range(low,high+1):
        print(f'{num} in the range of {low} and {high}')
    else :
        print('Not in the range')

In [66]:
find_range(6,5,7)

6 in the range of 5 and 7

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [93]:
def count_letters(s):
    uppercase = 0
    lowercase = 0
    for char in s:   
        if char.isupper():
            uppercase+=1
        elif char.islower():
            lowercase+=1
        else:
            pass

    print(f"The Original String {s}")
    print(f'The No.of Uppercase are {uppercase}')
    print(f'The No.of Lowercase are {lowercase}')

In [94]:
my_str = 'Hello Mr. Rogers, how are you this fine Tuesday?'
count_letters(my_str)

The Original String Hello Mr. Rogers, how are you this fine Tuesday?
The No.of Uppercase are 4
The No.of Lowercase are 33

In [102]:
def count_let(s):
    d ={'upper':0,'lower':0}
    for char in s:   
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass

    print(f"The Original String {s}")
    print(f'The No.of Uppercase are {d["upper"]}')
    print(f'The No.of Lowercase are {d["lower"]}')

In [103]:
my_str1 = 'Hello Mr. Rogers, how are you this fine Tuesday?'
count_let(my_str)

The Original String Hello Mr. Rogers, how are you this fine Tuesday?
The No.of Uppercase are 4
The No.of Lowercase are 33

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [123]:
def unique_num(num):
    seen_number = []
    
    for i in num:
        if i not in seen_number:
            seen_number.append(i)
    return seen_number

In [124]:
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_num(sample_list)

[1, 2, 3, 4, 5]

Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [127]:
def multi(num):
    total = 1
    for i in num:
        total *= i
    return total

In [130]:
my_list = [1,2,3,-4]

multi(my_list)

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [131]:
def panlindrom(lst):
    s = lst.replace(' ','')
    return s == s[::-1]

In [135]:
panlindrom('nurses run')

True

In [136]:
panlindrom('madam')

True

# (29/09/2023)

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [36]:
import string
def in_pangram(str1,alphabet=string.ascii_lowercase):
    alphabet = set(alphabet)
    
    str1 = str1.replace(' ','')
    
    str1 = str1.lower()
    
    str1 = set(str1)
    
    print(str1,alphabet)
    return str1 == alphabet

In [37]:
my_string = "The quick brown fox jumps over the lazy dog"
in_pangram(my_string)

{'l', 'p', 'v', 'i', 't', 'w', 'o', 'm', 'x', 'y', 'q', 'k', 'n', 's', 'd', 'c', 'g', 'e', 'z', 'j', 'u', 'h', 'b', 'f', 'r', 'a'} {'l', 'p', 'v', 'i', 't', 'w', 'o', 'm', 'x', 'y', 'q', 'k', 'n', 's', 'd', 'c', 'g', 'e', 'z', 'j', 'u', 'h', 'b', 'f', 'r', 'a'}

True

In [1]:
def user_choice():
    choice = 'Wrong'
    accect_values = range(0,10+1)
    within_range = False
    
    
    while choice.isdigit() == False or within_range == False:
        choice = input('Enter a value (1-10) : ')
        if choice.isdigit() == False:
            print('Invalid input Enter a valid input')
        
        if choice.isdigit() == True:
            if int(choice) in accect_values:
                within_range = True
            else:
                print('Enter a value Between 1-10')
    return int(choice)

In [2]:
user_choice()

Enter a value (1-10) : 23
Enter a value Between 1-10
Enter a value (1-10) : rer
Invalid input Enter a valid input
Enter a value (1-10) : rfwef
Invalid input Enter a valid input
Enter a value (1-10) : er
Invalid input Enter a valid input
Enter a value (1-10) : 5454
Enter a value Between 1-10
Enter a value (1-10) : 4545
Enter a value Between 1-10
Enter a value (1-10) : rtr
Invalid input Enter a valid input
Enter a value (1-10) : 2

2

In [3]:
user_choice()

Enter a value (1-10) : 32
Enter a value Between 1-10
Enter a value (1-10) : 444
Enter a value Between 1-10
Enter a value (1-10) : g
Invalid input Enter a valid input
Enter a value (1-10) : 1

1

# A simple User_interaction Function

In [4]:
game_list = [0,1,2]

def display_list(game_list):
    print("Here is the Current List")
    print(game_list)

In [5]:
display_list(game_list)

Here is the Current List
[0, 1, 2]

In [8]:
def user_choice():
    choice = 'Wrong'
    while choice not in ['0','1','2']:
        choice = input('Pick a index between [0,1,2] :')
        if choice not in ['0','1','2']:
            print('invalid Enter a value between 0-2 :')
    return int(choice)

In [10]:
user_choice()

Pick a index between [0,1,2] :w
invalid Enter a value between 0-2 :
Pick a index between [0,1,2] :3
invalid Enter a value between 0-2 :
Pick a index between [0,1,2] :1

1

In [12]:
def replacement_choice(game_list,position):
    replace_choice = input('Enter a value to replace :')
    game_list[position] = replace_choice
    
    return game_list

In [14]:
replacement_choice(game_list,1)

Enter a value to replace :Zoro

[0, 'Zoro', 2]

In [16]:
def gameon_choice():
    choice = 'Wrong'
    
    while choice not in ['y','n']:
        choice = input('Select a option [y or n] :')
        
        if choice not in ['y','n']:
            print('Cant understand the value enter [y or n] :')
            
    if choice =='y':
        return True
    else :
        return False

In [18]:
gameon_choice()

Select a option [y or n] :n

False

In [19]:
game_on = True
game_list = [0,1,2]

while game_on:
    display_list(game_list)
    
    position = user_choice()
    
    game_list = replacement_choice(game_list,position)
    
    display_list(game_list)
    
    game_on = gameon_choice()

Here is the Current List
[0, 1, 2]
Pick a index between [0,1,2] :t
invalid Enter a value between 0-2 :
Pick a index between [0,1,2] :5
invalid Enter a value between 0-2 :
Pick a index between [0,1,2] :2
Enter a value to replace :Zoro
Here is the Current List
[0, 1, 'Zoro']
Select a option [y or n] :y
Here is the Current List
[0, 1, 'Zoro']
Pick a index between [0,1,2] :0
Enter a value to replace :Luffy
Here is the Current List
['Luffy', 1, 'Zoro']
Select a option [y or n] :y
Here is the Current List
['Luffy', 1, 'Zoro']
Pick a index between [0,1,2] :1
Enter a value to replace :Sanji
Here is the Current List
['Luffy', 'Sanji', 'Zoro']
Select a option [y or n] :n

# Building a Tic Toc Toe Game

In [1]:
from IPython.display import clear_output

def display_board(board):
    clear_output()  
    
    print('   |   |')
    print(' ' + board[7] + ' | ' + board[8] + ' | ' + board[9])
    print('   |   |')
    print('-----------')
    print('   |   |')
    print(' ' + board[4] + ' | ' + board[5] + ' | ' + board[6])
    print('   |   |')
    print('-----------')
    print('   |   |')
    print(' ' + board[1] + ' | ' + board[2] + ' | ' + board[3])
    print('   |   |')

In [2]:
test_board = ['#','X','O','X','O','X','O','X','O','X','O',]
display_board(test_board)

   |   |
 X | O | X
   |   |
-----------
   |   |
 O | X | O
   |   |
-----------
   |   |
 X | O | X
   |   |

In [3]:
def user_input():
    marker = ''
    
    while marker != 'X' and marker != 'Y':
        marker = input('Player 1 ,Choose X or O :').upper()
        
    player1 = marker
    
    if player1 == 'X':
        player2 = 'O'
    else:
        player2 =='X'
        
    return (player1,player2)

In [4]:
player1,player2 = user_input()

Player 1 ,Choose X or O :x

In [5]:
print(player1)
print(player2)

X
O

In [6]:
def place_holder(board,marker,position):
    board[position] = marker

In [7]:
place_holder(test_board,'^',8)
display_board(test_board)

   |   |
 X | ^ | X
   |   |
-----------
   |   |
 O | X | O
   |   |
-----------
   |   |
 X | O | X
   |   |

In [8]:
def win_check(board,mark):
    
    return ((board[7] == mark and board[8] == mark and board[9] == mark) or 
    (board[4] == mark and board[5] == mark and board[6] == mark) or
    (board[1] == mark and board[2] == mark and board[3] == mark) or
    (board[7] == mark and board[4] == mark and board[1] == mark) or
    (board[8] == mark and board[5] == mark and board[2] == mark) or 
    (board[9] == mark and board[6] == mark and board[3] == mark) or 
    (board[7] == mark and board[5] == mark and board[3] == mark) or 
    (board[9] == mark and board[5] == mark and board[1] == mark))

In [9]:
win_check(test_board,'X')

True

In [10]:
import random
def choose_first():
    
    flip = random.randint(0,1)
    
    if flip == 0:
        return 'Player 1'
    else :
        return 'Player 2'

In [11]:
choose_first()

'Player 1'

In [12]:
def space_check(board,position):
    return board[position] == ' '

In [13]:
def full_board_check(board):
    for i in range(0,10):
        if space_check(board,i):
            return False
    return True

In [14]:
def player_choice(board):
    position = 0
    
    while position not in [range(1,10)] or not space_check(board,position):
        position = int(input('Choose a Position :(1-9) :')) 
    return position

In [15]:
def replay():
    choice = input('Play Again? Enter Yes or No')
    
    return choice

In [ ]:
print('Welcome to Tic Tac Toe!')

while True:
    
    theBoard = [' '] * 10
    player1_marker, player2_marker = user_input()
    turn = choose_first()
    print(turn + ' will go first.')
    
    play_game = input('Are you ready to play? Enter Yes or No.')
    
    if play_game.lower()[0] == 'y':
        game_on = True
    else:
        game_on = False

    while game_on:
        if turn == 'Player 1':
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_marker(theBoard, player1_marker, position)

            if win_check(theBoard, player1_marker):
                display_board(theBoard)
                print('Congratulations! You have won the game!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 2'

        else:
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_marker(theBoard, player2_marker, position)

            if win_check(theBoard, player2_marker):
                display_board(theBoard)
                print('Player 2 has won!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 1'

    if not replay():
        break

# Object Oriented Programming

In [7]:
class Dog():
    #class object attributes
    species = 'Mammual'
    
    def __init__(self,breed,age,name):
        self.mybreed = breed
        self.myage = age
        self.myname = name

In [8]:
my_dog = Dog('Lab',23,'Luffy')

In [9]:
my_dog.mybreed

'Lab'

In [4]:
my_dog.myname

'Luffy'

In [10]:
my_dog.species

'Mammual'

In [11]:
class Circle:
    pi = 3.14

    # Circle gets instantiated with a radius (default is 1)
    def __init__(self, radius=1):
        self.radius = radius 
        self.area = radius * radius * Circle.pi

    # Method for resetting Radius
    def setRadius(self, new_radius):
        self.radius = new_radius
        self.area = new_radius * new_radius * self.pi

    # Method for getting Circumference
    def getCircumference(self):
        return self.radius * self.pi * 2


c = Circle()

print('Radius is: ',c.radius)
print('Area is: ',c.area)
print('Circumference is: ',c.getCircumference())

Radius is:  1
Area is:  3.14
Circumference is:  6.28

In [12]:
c.setRadius(2)

print('Radius is: ',c.radius)
print('Area is: ',c.area)
print('Circumference is: ',c.getCircumference())

Radius is:  2
Area is:  12.56
Circumference is:  12.56

In [13]:
class Animal:
    def __init__(self):
        print("Animal created")

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")


class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [14]:
d = Dog()

Animal created
Dog created

In [15]:
d.whoAmI()

Dog

In [16]:
class Dog:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name+' says Woof!'
    
class Cat:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name+' says Meow!' 
    
niko = Dog('Niko')
felix = Cat('Felix')

print(niko.speak())
print(felix.speak())

Niko says Woof!
Felix says Meow!

# (30/09/2023)

Magic Methods

In [36]:
class Book():
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} is by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        return print('Book Object as been Deleted')

In [37]:
b = Book('Python','Luffy',200)

In [38]:
print(b)

Python is by Luffy

In [39]:
str(b)

'Python is by Luffy'

In [40]:
len(b)

200

In [41]:
del b

Book Object as been Deleted

In [43]:
class Line():
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
        
    def distance(self):
        x1,x2 =self.coor1
        y1,y2 =self.coor2
        
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        
        x1,x2 =self.coor1
        y1,y2 =self.coor2
        
        return (y2-y1)/(x2-x1)

In [45]:
my_line = Line((2,3),(4,5))

In [47]:
my_line.distance()

1.4142135623730951

In [48]:
my_line.slope()

1.0

In [49]:
my_line.coor1

(2, 3)

In [50]:
my_line.coor2

(4, 5)

In [53]:
class Cylinders():
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self):
        return self.height * 3.14 * (self.radius)**2
    
    def surface_area(self):
        top = 3.14 * (self.radius**2)
        
        return (2*top) + (2*3.14*self.radius*self.height)

In [56]:
my_cly = Cylinders(2,3)

In [57]:
my_cly.surface_area()

94.2

In [58]:
my_cly.volume()

56.52

In [59]:
my_cly.height

2

In [60]:
my_cly.radius

3

Creating a basic Bank system

In [254]:
class Account():
    def __init__(self,owner,balance):
        self.owner = owner
        self.balance = balance
        
    def deposite(self,new):
        self.balance = new + self.balance
        print(f'Balance Remaining : {self.balance}')
    def withdraw(self,param):
        if param <= self.balance:
            self.balance = self.balance - param
            print(f'Balance Remaining : {self.balance}')
        else:
            print('Insafficiant Balance')
    def __str__(self):
        return(f"ACCOUNT OWNER : {self.owner}")+'\n'+(f'ACCOUNT BALANCE : {self.balance}')

In [255]:
acct1 = Account('Luffy',1000)

In [256]:
print(acct1)

ACCOUNT OWNER : Luffy
ACCOUNT BALANCE : 1000

In [257]:
acct1.owner

'Luffy'

In [258]:
acct1.balance

1000

In [259]:
acct1.deposite(2000)

Balance Remaining : 3000

In [260]:
acct1.withdraw(3000)

Balance Remaining : 0

In [261]:
acct2 = Account('Zoro',300)

In [262]:
print(acct2)

ACCOUNT OWNER : Zoro
ACCOUNT BALANCE : 300

In [264]:
print('b')

b

In [265]:
print('Zoro',300)

Zoro 300

# 03/10/2023

In [8]:
def ask_for_input():
    
    while True:
        try:
            result = int(input('Please Provide a number :'))

        except:
            print('There is an Error')
#             continue
        else:
            print("That's an a valid number") 
            break
        finally:
            print('I always run at the end')

In [7]:
ask_for_input()

Please Provide a number :sd
There is an Error
I always run at the end
Please Provide a number :2
That's an a valid number
I always run at the end

# Decarators

In [16]:
def new_decorator(original_function):
    
    def wrap_func():
        print('some new line before the decorators')

        original_function()

        print('some new line of core after the decorators')
    return wrap_func

In [17]:
def func_need_decorators():
    print('I want to be decorated!!!')

In [20]:
new_func_dec =  new_decorator(func_need_decorators)

In [22]:
new_func_dec()

some new line before the decorators
I want to be decorated!!!
some new line of core after the decorators

In [24]:
@new_decorator
def func_need_decorators():
    print('I want to be decorated!!!')

In [25]:
func_need_decorators()

some new line before the decorators
I want to be decorated!!!
some new line of core after the decorators